.header {
  display: flex;
  margin-top: 24px;
  list-style: none;
  flex-direction: row;
}

.webst {
  margin-left: 215px;
  margin-right: 93px;
}

.nav_li1 {
  margin-left: 93px;
  margin-right: 50px;
}

.nav_li2 {
  margin-left: 50px;
  margin-right: 50px;
  color: #2196F3;
}

.nav_li3 {
  margin-left: 50px;
  margin-right: 344px;
}

.nav_li4 {
  margin-left: 344px;
  margin-right: 50px;
  color: #2196F3;
}

.nav_li5 {
  margin-left: 50px;
  margin-right: 215px;
}